/* Container for the login page */
.login-container {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Establish a context for absolute positioning */
    overflow: hidden;
}

/* Pseudo-element for the blurred background image */
.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('ladieshostel.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px);
    z-index: 0; 
}
/* The actual login box */
.login-box {
    background-color: rgba(246, 247, 248, 0.85); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    position: relative; 
    z-index: 1;
}

/* Adjustments to logo, inputs, and buttons */
.logo {
    width: 100px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #2c3e50;
}

.input-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.button-container button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.email-login {
    background-color: #0056a6;
    color: white;
}

.google-login {
    background-color: #db4437;
    color: white;
}

.button-container button:hover {
    opacity: 0.9;
}
